{% extends "@Root/block.html.twig" %} 

{% block mainContent %}

<p class="mycssclass">GOOD NEWS EVERYONE !</p>

<img src="{{ staticUrl('/theme/'~theme~'/ns-Myextension/images/logo.png') }}">
					
{% endblock %}
